.boton-personalizado:hover {
    -fx-background-color: #C7BCBA;
}

.boton-personalizado:hover {
    -fx-background-color: #C7BCBA;
}

.boton-eliminar:hover {
    -fx-background-color: #FF5D5D;
}

.boton-igual:hover {
    -fx-background-color: #C7BCBA;
}
