.boton-personalizado:hover {
    -fx-background-color: #C7BCBA;
}

.boton-personalizado:hover {
    -fx-background-color: #C7BCBA;
}

.boton-eliminar:hover {
    -fx-background-color: #FF5D5D;
}

.boton-mas:hover {
    -fx-background-color: #A1FF98;
}

.boton-modify:hover {
    -fx-background-color: #C7BCBA;
}
